<h3>Please sign in</h3>
<form method="post" action ="/signin/signin">
  <div>
    <label>Enter your email:</label>
      <input type="text" name="email" value="<% @email%>">
  </div>
  <div>
    <label>Enter your password:</label>
      <input type="password" name="password" value="<%@password%>">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
  
</form>