<div>
  <%if current_user%>
  <h1>Welcome, <%=current_user.email%>!</h1>
  <%end%>
</div>


  <div class="videocolumn">
    <div class="username">

    </div>    
    <h2><%=@song_title%></h2>
    <% @musics.each do |x|%>
      <div class="thumb">
        <a class="thumbnail" href="#">
          <iframe width="400" height="300" src="https://www.youtube.com/embed/<%=x.url%>" frameborder="0" allowfullscreen></iframe></a>
      </div>
    <%end%>
   </div>




 

