<h1 class='intro'>Welcome</h1>
<p class='intro'>This is a site that allows users to sign in and vote on their favorite music videos.
Be careful though, this is a youtube embedded player so just copy the last part of the youtube link and it should be fine!

<strong>Ex:"https://www.youtube.com/watch?v=QAY04SUIZjQ" <== you would only grab the "QAY04SUIZjQ" part.
</p>  

